<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>后台管理-首页</title>
    <link rel="stylesheet" href="/files/admin/css/top.css">
    <link rel="stylesheet" href="/files/admin/css/reset.css">
    <script type="text/javascript" src="http://himg2.huanqiu.com/statics/hq2013/js/lib/jquery1.9.1.js"></script>
    <script src="/files/admin/js/top.js"></script>
</head>
<body>
<div class="header">
    <p>
        Nealyang后台管理应用
    </p>
    <div class="menu">
        <a href="/admin">
            <span>首页</span>
        </a>
        <a href="/admin/blog">
            <span>博文管理</span>
        </a>
        <a href="/admin/users">
            <span>用户管理</span>
        </a>
    </div>
</div>
</body>
</html>