<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>后台管理-首页</title>
    <link rel="stylesheet" href="/files/admin/css/top.css">
    <link rel="stylesheet" href="/files/admin/css/reset.css">
</head>
<body>
<div class="header">
    <p>
        Nealyang后台管理应用
    </p>
    <div class="menu">
        <span>
            首页
        </span>
        <span>
            博文管理
        </span>
        <span>
            用户管理
        </span>
    </div>
</div>
</body>
</html>