<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>后台管理-首页</title>
</head>
<body>
<% include common/top.ejs%>
<div style="font-size: 32px;font-family: fantasy;padding: 100px 30px 0px;">
    <p>
        后台管理主要实现的是：<span style="color: red;">博客的删除修改和新建（涉及到数据的CRUD），以及用户管理（涉及到图片上传）.</span>
        对于前后端分离，前面登录就已经给出了实例~
    </p>
    <br>
    <p>
        喜欢的朋友可以star下，初涉Node，深知代码烂如麻，求指点，求轻喷~
    </p>
<br>
    <p style="color: red">
        Nodejs技术交流群：209530601
    </p>
</div>
</body>
</html>