<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>后台管理-首页</title>
    <link rel="stylesheet" href="/files/admin/css/reset.css">
</head>
<body>
<% include common/top.ejs%>
<div style="font-size: 32px;font-family: fantasy;padding: 0 30px">
    <p style="margin: 80px  0 90px 0;">兄弟们，咱把重点转向后台了哈，前端样式就先不管了哈</p>
    <p>
        后台管理主要实现的是：<span style="color: red;">博客的删除修改和新建（涉及到数据的CRUD），以及用户管理（涉及到图片上传）.</span>
        对于前后端分离，前面登录就已经给出了实例~
    </p>
    <br>
    <p>
        喜欢的朋友可一个star，后续推出更好玩的demo，初涉Node，深知代码烂如麻，求指点，求轻喷~
    </p>
    <p style="color: red">
        Nodejs技术交流群：209530601
    </p>
</div>
</body>
</html>