<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理员登录</title>
    <link rel="stylesheet" href="/files/admin/css/login.css">
    <link rel="stylesheet" href="/files/admin/css/reset.css">
    <script type="text/javascript" src="http://himg2.huanqiu.com/statics/hq2013/js/lib/jquery1.9.1.js"></script>
    <script type="text/javascript" src="/files/admin/js/login.js"></script>
</head>
<body>
<div class="login_container">
    <div class="username_div login_input_container">
        <img src="/files/admin/img/user_icon.png">
        <input type="text" autofocus="autofocus" name="username"/>
    </div>
    <div class="password_div login_input_container">
        <img src="/files/admin/img/password_icon.png">
        <input type="password" name="password">
    </div>
    <div class="login_button"></div>
</div>
</body>
</html>
